@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap");
.login,
.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.auth__left {
  text-align: center;
}
.auth__left > img {
  width: 25rem;
  margin-top: 2.5rem;
}
.auth__right {
  width: 25rem;
}
.auth__right > form {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1.5rem;
}
.auth__more {
  border: 1px solid grey;
  padding: 1.25rem;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  text-align: center;
  margin-top: 0.93rem;
}
.auth__more > span {
  font-size: 1rem;
}
.auth__more > span > .link {
  background-color: inherit;
  color: #0095f6;
  font-weight: bolder;
  border: 0;
  text-decoration: none;
}
.auth__more > span > .link:hover {
  cursor: pointer;
}
.form__login,
.form__signup {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 3rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}
.form__login > img,
.form__signup > img {
  width: 12.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}
.form__login > input,
.form__signup > input {
  background-color: #fffefe;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
}
.form__login > input:focus,
.form__signup > input:focus {
  outline: 1px solid grey;
}
.form__login > input[type="submit"],
.form__signup > input[type="submit"] {
  padding: 0.75rem;
  border-radius: 8px;
  border: 0;
  background-color: #0095f6;
  color: white;
  font-weight: bolder;
}
.form__login > input[type="submit"]:hover,
.form__signup > input[type="submit"]:hover {
  cursor: pointer;
}
.downloadDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.appStore > img {
  height: 3rem;
  width: 8rem;
}
.playStore > img {
  height: 4.5rem;
  width: 10rem;
}
