.sidenav {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.sidenav__logo {
    width: 40%;
    margin: 1.6rem;
}

.sidenav__buttons {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    flex-grow: 1;
}
.sidenav__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: 0;
    border: 0;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    width: 100%;
}
.sidenav__button:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(238, 237, 237);
}
.sidenav__button > span {
    font-size: 1.2em;
    margin-left: 0.75em;
}
